.resetPasswordContainer {
    height: 91vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top: 0;
    left: 0; */
}

.resetPasswordBox {
    height: 70%;
    width: 25%;
    border-radius: 20px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* overflow: hidden; */
    padding: 1rem 0;
    /* border: 1px solid #7a08fa; */
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.4);
    /* padding: 1rem; */
}

.resetPasswordBox>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.resetPasswordForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 80%;
    transition: all .5s;
    width: 100%;
    padding: 1rem;
}

.resetPasswordForm>div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 5rem;
    /* justify-content: center; */
}

.resetPasswordForm>div>input {
    padding: 1vmax 3vmax;
    padding-right: 1vmax;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid rgba(230, 230, 230, .293);
    border-radius: 4px;
    font: 300 .9vmax "roboto";
    outline: none;
    background-color: transparent;
    color: whitesmoke;
    transition: all .5s;
}

.resetPasswordForm>div>input:active {
    background-color: transparent;
    color: whitesmoke;
}

.resetPasswordForm>div>input:focus,
.resetPasswordForm>div>input:hover {
    border: 1px solid whitesmoke;
    color: white;
}

.resetPasswordForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    color: whitesmoke;
}

.resetPasswordBtn {
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a08fa;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font: bolder 1.5rem "gill sans";
    letter-spacing: 2px;
    line-height: 2rem;
    transition: all .5s;
}

.resetPasswordBtn:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.575);
    background-color: #7908fa93;
    color: rgba(245, 245, 245, 0.829);
}

.resetPasswordHeading {
    color: whitesmoke;
    border-bottom: 2px solid #7a08fa;
    padding: 0 1rem;
    padding-bottom: .5rem;
    font-family: "roboto";
}