* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* edge,chrome,safari,opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

body::-webkit-scrollbar {
    display: none;
}

.react-alerts .alert .message {
    text-transform: lowercase;
}